## **Import Libraries**

In [0]:
# Upload Data from Google Drive
from google.colab import drive

# Store Data in Pandas Dataframe
import pandas as pd

# Numerical functions
import numpy as np

# Label Encoding
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn import preprocessing

## **Mount Data**

In [0]:
### From Google Drive

# Mount drive at location
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Read Lab 1 CSV and store in Pandas Dataframe
df = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 2/Datasets/Final_Dataset.csv")

## **Process Data**

In [0]:
# Filter for 2 years
years = [2005, 2010]
df_result = df[df['Date'].isin(years)].copy()
df_result

              Country  ... Corruption_Perception_Categories
27694     Afghanistan  ...                             0-10
27695         Albania  ...                             0-10
27696         Algeria  ...                             0-10
27697  American Samoa  ...                             0-10
27698         Andorra  ...                             0-10
...               ...  ...                              ...
30413       West Bank  ...                             0-10
30414  Western Sahara  ...                             0-10
30415           Yemen  ...                             0-10
30416          Zambia  ...                             0-10
30417        Zimbabwe  ...                             0-10

[908 rows x 27 columns]

In [0]:
# Drop extra categorical columns
df_result.drop(columns=['Population_Density_Categories', 
                      'Health_Expenditure_Govt_Categories', 
                      'Health_Expenditure_Pvt_Categories', 
                      'Health_Expenditure_Indv_Categories', 
                      'Income_Inequality_Categories', 
                      'Employment_Rate_Categories', 
                      'Corruption_Perception_Categories'], inplace=True)

In [0]:
# Drop Corruption Perception (Since Empty)
df_result.drop(columns=['Corruption_Perception'], inplace=True)

In [0]:
# Drop Military Expenditure (Since it contains strings)
df_result.drop(columns=['Military_Expenditure'], inplace=True)

In [0]:
# Delete rows with more than 5 NaN values
df_result.dropna(axis=0, thresh=10, inplace=True)

In [0]:
# Replace NaN values by 0
df_result.fillna(0, inplace=True)

## **Save File**

In [0]:
# Save to CSV
df_result.to_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 2/Datasets/Final_Dataset_Shortened.csv", index=False)

In [0]:
df_result

           Country                               Region  ...  Suicides  Murders
27694  Afghanistan        ASIA (EX. NEAR EAST)           ...   1600.00   4750.0
27695      Albania  EASTERN EUROPE                       ...    204.00     94.4
27696      Algeria  NORTHERN AFRICA                      ...   1210.00    451.0
27698      Andorra  WESTERN EUROPE                       ...      7.04      0.5
27699       Angola  SUB-SAHARAN AFRICA                   ...    980.00    845.0
...            ...                                  ...  ...       ...      ...
30409    Venezuela              LATIN AMER. & CARIB      ...   2610.00  11500.0
30410      Vietnam        ASIA (EX. NEAR EAST)           ...   7430.00   1850.0
30415        Yemen  NEAR EAST                            ...   1110.00    745.0
30416       Zambia  SUB-SAHARAN AFRICA                   ...   1170.00   1330.0
30417     Zimbabwe  SUB-SAHARAN AFRICA                   ...   2000.00   1410.0

[728 rows x 18 columns]